[Unit]
Description=uWSGI instance to serve testing launcher.py
After=network.target

[Service]
User=testing
Group=testing
ExecStart=uwsgi --ini /etc/wsgi/wsgi.ini
ExecStop=/usr/bin/killall -9 uwsgi  
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target