body{
  background-image: url(images/zebra.png);
  background-repeat: no-repeat;
  /*background-size: cover;  This will stretch **/
}

.borderImg{
  border: 2px solid red;
  border-right: 2px solid red;
}
