body {

    background-color: rgb(129,51,99);
}

h1 {

    color: coral;
    text-align: center;
}

.myclass {
  width: 100px;
  height: 100px;
  background-color: blue;
  margin: auto;
}

#myid {
color: darkslategrey;
font-size: 40px;
}