.box
{
  background-color: burlywood;
  border: black 2px solid;
  /*width: 100vh;*/
  /*height: 100vw;*/
  width: 300px;
  height: 300px;
  text-align: center;
  margin:auto;
}

img{
  max-width: 100%;
  height: auto;
  padding: 5px;
}

.image
{
  /*border-radius: 50%;*/  /* to make circular based image **/
  border-radius: 10px;
  width: 500px;
  height: 500px;
  border: 2px solid lightgray;
  padding: 5px;
  display: block;
  margin: auto;
  opacity: 1; /**transparency to the image 1 means - no transparency; 0.5 means 50% transparent **/
}