.dialContainer {
  padding-bottom: 2rem;
}

.title {
  font-weight: bold;
  color: Black;
  border: 1px solid white;
  padding: 10px;
  align-items: right;
  background: #f2f2f2;
  font-size: 1rem;
}

.labelTitle {
  padding-bottom: 1rem;
  padding-top: 1rem;
  color: #808080;
}

.addDeleteContainer {
  color: black;
  display: flex;
  justify-content: flex-end;
}

.addDeleteContainer .operationButton {
  background: #91d7ea;
  margin: 0.5rem;
}

.addDeleteContainer .operationButton:hover {
  background: #91d7ea;
}

.TableHead {
  font-weight: bold;
}

.saveButtonContainer {
  color: black;
  display: flex;
  justify-content: flex-end;
  padding: 0.5em;
  margin-top: 1rem;
}

.saveButtonContainer button {
  display: flex;
  justify-content: flex-end;
  align-items: right;
  background: #f04c23;
}

.saveButtonContainer button {
  display: flex;
  justify-content: flex-end;
  align-items: right;
  background: #f04c23;
}

.saveButtonContainer button:hover {
  background: #f04c23;
}

.saveButtonContainer .buttonDisable {
  background: #cccccc;
}
